/* \\\\\\PROPIEDADES GENERALES DEL INDEX Y CONOCENOS///////  */

* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #ffff;
    font-family: 'Metal Mania', cursive;
}

/* CREO LA CLASE PARA LA CAJA DE CONTENIDOS DEL HEADER  */
.cajaHeader{
    margin: auto;
    width: 1024px;
    height: 80px;
    background-color: white;
}

/* DIV con Logo de la página y enlace spootify  */

#logo {
    float: left; 
    margin-left: 125px;
    margin-top: 10px;
}

#logoSpoti{
    margin-top: 25px;
}


header div span p{
    float: left;
    margin-left: 500px;
    margin-right: 5px;
    margin-top: 30px;
    
    
}

/* MENU DE NAVEGACION */
nav {
    
    float: left;
    width: 100%;
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin-left: 34%; 
    margin-top: 2px;
}

nav ul li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
}

nav ul li a {
    display: block;
    height: 50px;
    width: 125px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent; 
}

nav ul li a:hover {
    border-bottom: 2px solid white; 
    
}

nav ul li a:active {
    background-color: rgba(112, 37, 37, 0.3);
    
}

.borde_activo{
    border-bottom: 2px solid white;     /* para poner un borde permante en la página activa */
}


/*PROPIEDADES DEL FOOTER*/
.footerClass{
    position: fixed;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: black;
}

footer img{
    
    width: 25px; 
    height: 25px;
    margin-top: 12px;
      
}

footer span p{
    float: left;
    color: white;
    margin-left: 43%;
    margin-right: 7px;
    margin-top: 15px;
    
}

/*--------------------------------------------------------------------------------------------------------------*/

/*-----------------\\\INDEX///------------------*/

/*SECCION 1 DEL INDEX*/

#holaSeccion1{
    background-image: url(img/banner.jpg);
    height: 350px;
}

#divSeccion1{
    margin: auto;
    width: 1024px;
}
    
#divSeccion1 article{
    width: calc(100% / 2);
    margin-left: 50%;
}

#divSeccion1 h1{
    display: inline-block;
    color: white;
    font-size: 25px;
    margin-top: 80px;
}

#divSeccion1 p{
    margin-top: 10px;
    color: white;
    font-size: 15px;
}

/*SECCION 2 DEL INDEX*/

#holaSeccion2{
    height: 350px;
}

/*CREO ESTILOS PARA CENTRAR EL CONTENIDO */
#divSeccion2 , #conDivSeccion2 , #divSeccion4{
    
    margin: auto;
    width: 1024px;
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-between;
    overflow: auto;
    /* para cortar flotacion */
}

#holaSeccion2 article {
    width: calc(100% / 2);
    width: 50%;
    margin-top: 40px;
}

#holaSeccion2 article img {
    float: left;
    margin: 10px 10px 10px 0px;
} 

#holaSeccion2 a, #conocenosSeccion2 a, #item-2 a {
    display: inline-block;
    height: 20px;
    width: 100px;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    text-transform: uppercase;
}

#holaSeccion2 h1 {
    color: black;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 165px;
}

#holaSeccion2 h2 {
    
    margin-top: 10px;
    color: black;
    font-size: 15px;
}

#holaSeccion2 h3{
    
    margin-top: 10px;
    color: black;
    font-size: 12px;
}

/*SECCION 3 DEL INDEX*/

#holaSeccion3{  
    background-color: #dee2e6 ; 
    height: 400px;

}

#divSeccion3{
    margin: auto;
    width: 1024px;
    display: grid;
    
    justify-content: center; 
    
    
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: #dee2e6;
    padding-top: 40px;
    padding-bottom: 70px ;
}

#agendaH1{
    margin: auto;
    width: 1024px;
    background-color: #dee2e6;

}

#holaSeccion3 div h1{
    display: inline-block;
    margin-top: 40px;
}

#divSeccion3 h2{
    font-size: 15px;
    margin-bottom: 10px;
}

/* estilos del grid */
  
  #item-1 {
    width: 620px;
    
    background-color: #dee2e6;
   
    font-size: 30px;
    
  }
  
  #item-2 {
    width: 375px;
    
    background-color: #dee2e6;

    font-size: 30px;
    
  }

  /* propiedades de tabla */
  #tbleventos {
    width: 90%;
    border-collapse: collapse;

    
  }
  
  #tbleventos td, #tbleventos th {
    
      font-size: 11px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  #tbleventos tr:nth-child(even){background-color: #f2f2f2;}
  
  #tbleventos tr:hover {background-color: #ddd;}
  
  #tbleventos th {
    text-align: left;
    background-color: #ced4da;

    color: black;
  }
  /* le aplico estilo a las celdas vacias para que el ancho sea como las celdas con texto */
  .empty-cell{
      height: 11px;
  }

  #item-2{
      font-size: 11px;
  }

  /* propiedades del fomulario */
  
  form .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #dee2e6;
  }
  
  form .grid-container > div {
    background-color: #dee2e6;
    text-align: center;
    font-size: 11px;
  }
  

   .item1 {
      
    grid-column-start: 1;
    grid-column-end: 3;
      }
    
    .item2{
        width: 100px;
    }

  .item3 {
   grid-column-start: 1;
    grid-column-end: 4;
    
      }
      .item4 {
   grid-column-start: 1;
    grid-column-end: 3;

      } 
      
    form div div a{
         margin-top: 10px; /* para alinear el boton con el grid de forma de pago */
    }
  

      input[type=text], input[type=number], select {
        width: 100%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
    


/*--------------------------------------------------------------------------------------------------------------*/

/*-----------------\\\CONOCENOS///------------------*/

/*SECCION 2 DE CONOCENOS*/


#conocenosSeccion2{
    height: 350px;
}

.colorFondo{
    background-color: #e9ecef;
}

#conocenosSeccion2 article {
    width: calc(100% / 2);
    width: 75%;
    margin-bottom: 40px;
    
}

#conocenosSeccion2 #articleBio {
    width: 35%;
    float: left;
    margin: 10px 10px 10px 0px;
    margin-top: 40px;
} 

#conocenosSeccion2 article img {
    width: 100%;
    float: left;
    margin: 10px 10px 10px 0px;
    margin-top: 40px;
    
} 

/*SECCION 3 DE CONOCENOS*/

#holaSeccion2 article ol , #holaSeccion2 article strong {
    display: inline-block;
    margin-left: 20px;

}

#holaSeccion2 article li, #holaSeccion2 article strong {
    font-size: 12px;
}

/*SECCION 4 DE CONOCENOS*/

#conocenosSeccion4{
    height: 350px;
    background-color: #f8f9fa;

    display: flex;
    padding: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto; /*para cortar flotacion*/
    margin-bottom: 50px;
}

#conocenosSeccion4 figure{
    width: calc(100% / 4);
    margin: 5px;
    float: left;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
    
    
}

#conocenosSeccion4 figure img{
    width: 100%;
    
}

#conocenosSeccion4 h1{
    display: inline-block;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px ;
    margin-left: 145px;
}
    
#conocenosSeccion4 figcaption{
    font-size: 11px;
}